{{ partial "header.html" . }}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=1134924683379931&autoLogAppEvents=1"></script>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-md-3 col-lg-3 sidebar">

			{{ partial "sidebar-content.html" . }}

			</div>
			<div class="col-sm-7 col-sm-offset-4 col-md-6 col-md-offset-3 col-lg-5 col-lg-offset-3 content">

				<div class="post">

					<div class="post-heading">
						<h1>{{ .Title }}</h1>
						<span class="post-date"><a href="{{ .Permalink }}"># {{ .Date.Format "Jan 2, 2006" }}{{ if .Params.author }} by {{ .Params.author }}{{ end }}</a></span>
					</div>

					{{ .Content }}
					{{ if gt .Params.fb 0 }}
					<div class="fb-post" data-href="https://www.facebook.com/shawn.wang.45/posts/{{ .Params.fb }}" data-width="500" data-show-text="false"><blockquote cite="https://developers.facebook.com/shawn.wang.45/posts/{{ .Params.fb }}" class="fb-xfbml-parse-ignore"></blockquote></div>
					{{ end }}

				</div>

			</div>
			<div class="col-sm-1 col-md-3 col-md-4">
			</div>
		</div>
	</div>



{{ partial "footer.html" . }}
